*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

body{
    margin-top: 4em;
}

.menu-container{
    display: flex;
    height: 4em;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.nav-menu .logo{
    width: 90%;
    vertical-align: middle; 
}

.menu-container .nav-menu{
    display: flex;
}

.nav-menu li{
    list-style: none;
    padding: 0 1em;
    line-height: 2em;
}

.nav-menu a{
    text-decoration: none;
    color: black;
}

.btn-blue.btn-little{
    color: white;
}

.top-title{
    background-color: rgb(180, 208, 231);
    padding-top: 3rem;
    margin-bottom: 10rem;
}

.big-container{
    max-width: 1100px;
    margin: 0 auto;
}

.big-container h1{
    font-size: 70px;
    font-weight: 900;
}

.flex-container{
    display: flex;
    margin-top: 3rem;
}

.img-container{
    position: relative;
    flex-basis: 300%;
}

.jumbo{
    width: 54em;
    position: absolute;
    top: 0;
    left: 0;
}

.text .cancel{
    margin-top: 3rem;
}

.fa-arrow-down{
    margin: 4rem 0 1.5rem;
    font-size: 50px;
    color: black;
}

.btn-blue{
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 0.5em 1em;
}

.btn-blue.btn-big{
    text-decoration: none;
}

.btn-top{
    margin-top: 3rem;
}

.mid-container{
    max-width: 1000px;
    margin: 0 auto 6rem;
}

.mid-container h2{
    font-size: 40px;
    margin-bottom: 3rem;
}

.radio-left{
    margin-left: 2rem;
}

.radio-btn{
    margin-bottom: 3rem;
}

.card{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    column-gap: 3rem;
}

.subscription{
    flex: 1 1 100%;
    border: 1px solid lightgray; 
}

.subscription ul{
    list-style: none;
}

.list-container{
    padding: 1.5rem 2rem;
}

.subscription li{
    padding: 0.5rem 0;
    font-size: 15px;
}

.second-ul li:first-child{
    font-weight: 700;
}

.team h3{
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}

.team{
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding: 0.7rem 0;
}

.subscription .sub-type{
    font-size: 22px;
    font-weight: 700;
    margin-top: 1rem;
}

.subscription .price{
    font-size: 13px;
    font-weight: 700;
}

.user-month{
    color: gray;
}

.subscription .btn-box{
    text-align: center;
    margin-top: 2rem;
}
.btn-box a{
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.list-container .buy-now {
    font-size: 14px;
    color: blue;
}

.otherwise{
    display: inline-block;
    font-size: 14px;
    margin: 2.5rem 0 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid lightgrey;
}

.icon{
    font-size: 14px;
    margin: 0;
}

.fa-check{
    color: rgb(0, 97, 255);
}

.up-container{
    margin-bottom: 3rem;
}

.bottom-container{
    margin: 0 auto;
}

.border-container{
    border: 1px solid lightgrey;
}

.enterprise-container{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
}

.enterprise > h3{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.first-paragraph{
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 15px;
}

.second-paragraph{
    font-size: 15px;
}

.btn-blue.btn-sales{
    height: max-content;
    font-size: 14px;
    padding: 0.8em 3em;
    white-space: nowrap;
}

.partner-box{
    width: 60%;
}

.img-partner{
    width: 100%;
    float: left;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.text-box{
    float: left;
    width: 35%;
    padding: 4rem 0.5rem 0 2.5rem;
}

.text-box h3{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.text-box p{
    margin-bottom: 4rem;
}

.btn-white{
    border: 1px solid black;
    padding: 0.7rem 1rem;
    text-decoration: none;
    color: black;
}

.flexbox-card{
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 2rem;
    margin-bottom: 10rem;
}

.box-card{
    flex: 1 1 30%;
}

.box-card img{
    width: 300px;
}

.box-card h3{
    font-size: 22px;
    margin-bottom: 2rem;
}

.main-text{
    width: 60%
}

.sponsor{
    display: flex;
}

.square-container{
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 33%;
}

.big-square{
    flex: 1 0 33%;
}

.square{
    flex: 1 0 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square img{
    position: absolute;
    width: 50%;
}
  
.square:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}

.square-color1{
    background-color: rgb(162, 211, 155);
    border: 15px solid rgb(209, 233, 205);
}
.square-color2{
    background-color: rgb(97, 8, 43);
}
.square-color3{
    background-color: rgb(0, 147, 206);
}
.square-color4{
    background-color: rgb(255, 28, 28)
}
.square-color5{
    background-color: rgb(245, 245, 245);
}
.square-color6{
    background-color: rgb(213, 0, 31)
}
.square-color7{
    background-color: rgb(180, 208, 231);
}
.square-color8{
    background-color: rgb(13, 36, 129)
}
.square-color9{
    background-color: rgb(255, 216, 48);
}

.designit-black{
    width: 40%;
    margin-bottom: 3rem;
}

.inner-content{
    padding: 4rem 3rem;
}

.inner-content p{
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.inner-content hr{
    width: 20%;
}

.business-bottom-container{
    background-color: rgb(180, 208, 231);
}

.business-flex{
    padding: 5em 0;
    display: flex;
    justify-content: space-between;
}

.business-btn{
    margin-top: 1rem;
}

.btn-sponsor{
    padding: 0.5rem 3rem;
    text-decoration: none;
    color: black;
    background-color: white;
  }

 .slogan-business{
    color: rgb(97, 8, 43);
 }

 .faq-container{
    margin-bottom: 10rem;
 }

 .faq{
    padding: 3rem 0;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
 }

 .faq-top{
    border-top: 1px solid black;
 }

 .fa-chevron-down{
    font-size: 15px;
    padding: 0;
    margin: 0 3rem;
 }

 footer{
    background-color: black;
 }

 .foot-container{   
     max-width: 1200px;
     margin: auto;
     color: white;
     padding: 5rem 0 2rem;
 }

 .footer-list-container{
    display: flex;
    justify-content: space-between;
 }

 .foot-list li{
    padding: 0.5rem 0;
    list-style: none;
 }

 .foot-list li:first-child{
    font-size: 22px;
    font-weight: 700;
    padding: 1rem 0;
 }

 .foot-link{
    text-decoration: none;
    color: white;
 }

 .language hr{
    width: 10%;
 }

.language{
    margin-top: 6rem;
    color:grey;
}

.foot-icon {
    font-size: 15px;
    margin-top: 3rem;
}

/* hover style */

.btn-blue:hover{
    background-color: rgba(0, 97, 255, 0.7);
    cursor: pointer;
}

.btn-white:hover{
    background-color: rgb(0, 97, 255);
    color: white;
    border: 1px solid rgb(0, 97, 255);
}

.btn-sponsor:hover{
    box-shadow: 5px 5px 18px #888888;
}
