*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

body{
    margin-top: 4em;
}

.menu-container{
    display: flex;
    height: 4em;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.nav-menu .logo{
    width: 90%;
    vertical-align: middle; 
}

.menu-container .nav-menu{
    display: flex;
}

.nav-menu li{
    list-style: none;
    padding: 0 1em;
    line-height: 2em;
}

.nav-menu a{
    text-decoration: none;
    color: black;
}

.btn.btn-little{
    color: white;
}

.top-title{
    background-color: rgb(180, 208, 231);
    padding-top: 3rem;
    margin-bottom: 10rem;
}

.big-container{
    max-width: 1100px;
    margin: 0 auto;
}

.big-container h1{
    font-size: 70px;
    font-weight: 900;
}

.flex-container{
    display: flex;
    margin-top: 3rem;
}

.img-container{
    position: relative;
    flex-basis: 300%;
}

.jumbo{
    width: 54em;
    position: absolute;
    top: 0;
    left: 0;
}

.text p{
    line-height: 1.3em;
}

.text .btn-big, .cancel{
    margin-top: 3rem;
}

.fa-solid{
    margin: 3rem 0 1.5rem;
    font-size: 50px;
}

.btn{
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 0.5em 1em;
}

.mid-container{
    max-width: 1000px;
    margin: 0 auto 6rem;
}

.mid-container h2{
    font-size: 40px;
    margin-bottom: 3rem;
}

.radio-left{
    margin-left: 2rem;
}

.radio-btn{
    margin-bottom: 3rem;
}

.card{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    column-gap: 3rem;
}

.subscription{
    flex: 1 1 100%;
    border: 1px solid lightgray; 
}

.subscription ul{
    list-style: none;
    /* margin-bottom: 2rem; */
}

.list-container{
    padding: 1.5rem 2rem;
}

.subscription li{
    padding: 0.5rem 0;
    font-size: 15px;
}

.second-ul li:first-child{
    font-weight: 700;
}

.team h3{
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}

.team{
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding: 0.7rem 0;
}

.subscription .sub-type{
    font-size: 22px;
    font-weight: 700;
    margin-top: 1rem;
}

.subscription .price{
    font-size: 13px;
    font-weight: 700;
}

.user-month{
    color: gray;
}

.subscription .btn-box{
    text-align: center;
    margin-top: 2rem;
}
.btn-box a{
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.list-container .buy-now {
    font-size: 14px;
    color: blue;
}

.otherwise{
    display: inline-block;
    font-size: 14px;
    margin: 2.5rem 0 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid lightgrey;
}

.icon{
    font-size: 14px;
    margin: 0;
}

.fa-check{
    color: rgb(0, 97, 255);
}

.up-container{
    margin-bottom: 3rem;
}

.bottom-container{
    margin: 0 auto;
}

.border-container{
    border: 1px solid lightgrey;
}

.enterprise-container{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
}

.enterprise > h3{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.first-paragraph{
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 15px;
}

.second-paragraph{
    font-size: 15px;
}

.btn.btn-sales{
    height: max-content;
    font-size: 14px;
    padding: 0.8em 3em;
    white-space: nowrap;
}

.partner-box{
    width: 60%;
}

.img-partner{
    width: 100%;
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .text-box {
    float: left;
    width: 35%;
    padding: 4rem 0.5rem 0 2.5rem;
  }

  .text-box h3{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  .text-box p{
    margin-bottom: 4rem;
  }

  .btn-white{
    border: 1px solid black;
    padding: 0.7rem 1rem;
    text-decoration: none;
    color: black;
  }
